extends layout

block content
  center
    h1 404!
    h2 This isn't what you're looking for
    iframe(src="https://giphy.com/embed/KFWDuK74i17uZltccZ" width="480" height="480" frameBorder="0" class="giphy-embed")
