extends layout
include mixin_card

block content
  div(style="width: 100%")
    div(style="max-width: 400px; margin:auto; padding:64px; text-align: center; justify-content: center: align-items: center")
      img.profilePicture(src=githubUser.avatar_url)
      br
      .user @#{githubUser.login}
      .button(onclick="connect()") Connect Metamask
  script. 
    async function connect(){
      if(typeof window.ethereum == "undefined")
        window.href.location = "https://metamask.io";
      await window.ethereum.enable();

      const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
      const account = accounts[0];
      const signature = await  w3.eth.personal.sign("#{githubUser.login}", account);
      window.location.href = "/users/new_profile/"+signature;


    }


